@inherits LayoutComponentBase
<!-- Arver layoutfunktionalitet fra Blazor -->

<!-- PublicLayout bruges til sider der er offentligt tilgængelige, f.eks. forsiden eller login -->
<div class="public-container">
    @Body <!-- Viser det aktuelle sideindhold -->
</div>